


@import url('https://fonts.googleapis.com/css2?family=Actor&family=Raleway:wght@300&family=Sorts+Mill+Goudy:ital@0;1&family=Yuji+Syuku&display=swap');


#content{
    max-width: 1800px ;
    margin: 0 auto;
}
body{
    background-color: #a68a64ff ;
    font-family: "Yuji Syuku", Lato, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;

}
/* #1 container grid with Logo, and Navigation*/
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #414833ff ;
    
}
nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #efdfbbff;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #efdfbbff ;
    color: #414833ff;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/*#2 Container grid with image */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;   
}

#hero-msg-box{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:#efdfbbff;
    opacity: .6;
    z-index: -1;  
    border-radius: 200px; 
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    color:#7f4f24ff;
    text-align: center; 
    font-size: 45px;
    font-variant-caps: all-small-caps;
    letter-spacing: 3px;
}

main section{
    text-align: center;
}

#background {
    background-color:#efdfbbff ;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 20px 0px 20px 0px;
    border: 5px solid #7f4f24ff;
    z-index: -1;
}

h1, h2, h3, h4 {
    font-family: 'Sorts Mill Goudy', "Actor", 'Raleway';    
}

.nav{
    font-size: 25px;
}

.msg{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px 50px 50px 50px;
    text-align: justify;
}

.msg h2{
    text-align: center;
} 

/*Images on Home page*/
.home-grid{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    margin: 0px 0px 20px 20px;
}
.background1{
    background-color: #efdfbbff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-left: 20px;
    padding-right: 30px;
}
.button-box #more:hover,.button-box #herbs:hover, .button-box #uses:hover{
    transform: scale(1.1);
    
}
#herbs, #uses, #more{
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding: 20px;
}
.card #img-herbs:hover, .card #img-uses:hover, .card #img-more:hover{
    opacity: .6;
}
.card #img-herbs, .card #img-uses, .card #img-more{

    border: #7f4f24ff solid 5px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*Page 2- Herbs top section*/
.def-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin: 20px 50px 20px 50px;
    text-align: justify;
}

.herb-box{
    display: flex;
    margin: 20px 50px 20px 50px;
    box-sizing: border-box;
 
    text-align: justify;
}
.herb{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 40px;
    text-align: left;
    border: #656d4aff solid 5px;
}
.spice{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 40px;
    text-align: left;
    border: #656d4aff solid 5px;
    
}
.herb-box h1, h3{
    line-height: 5px;
}
.line{
    line-height: 25px;
}
.background-top1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #efdfbbff;
    z-index: -1;
}
.background-top2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #efdfbbff;
    z-index: -1;
}


/*Pages 2-4 layout and design for content*/
/* Style the tab */
.tab {
    float:left;
    border-top: 5px solid #936639ff;
    border-left: 5px solid #936639ff;
    border-bottom: 5px solid #936639ff;
    background-color: #7f4f24ff;
    width: 20%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: #efdfbbff;
    padding: 30px 20px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Sorts Mill Goudy', "Actor", 'Raleway';
    font-size: 25px;
    margin-left: 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #414833ff;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #414833ff;
  color: #efdfbbff;
}

/* Style the tab content */
.tabcontent {
    float: right;
    padding: 0px 12px;
    border: 5px solid #936639ff;
    width: 80%;
    border-left: none;
    background-color: #414833ff;
}

/* main section pges 2-4*/
.pg{
    color: #efdfbbff;
    padding: 20px 50px 20px 50px;
}
.img1{
    border:#936639ff solid 10px;
    border-radius: 50px;
    margin: 30px 30px 30px 50px;
}
.img2{
    border:#936639ff solid 10px;
    border-radius: 50px;
    margin: 50px 50px 50px 75px;
}

.title-1{
    text-align: center;
    background-color: #efdfbbff;
    font-size: larger;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 20px;
}
/* Page 3 - 4 msg box*/
.msg-box{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 50px 20px 50px;
}
.link{
    color: #efdfbbff;
}


/*Contact Page*/
form{
    /*Center the form on the page*/
    margin: 50px auto;
    width: 1000px;

    /* Form outline*/
    padding: 1em;
    border: 5px solid #656d4aff;
    border-radius: 1em;
    background-color: #936639ff;

}
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment*/
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 30px;
    padding-right: 100px;
}
input, textarea{
    /* To make sure that all the fields have the same
    font settings. By default, text areas have a monospace
    font.*/
    font: 1em 'Sorts Mill Goudy';

    /*Uniform text field size*/
    width: 700px;
    box-sizing: border-box;

    /*Match form field borders */
    border: 1px solid #656d4aff;
}

input:focus, 
textarea:focus{
    /*Additional highlight for focused elements*/
    border-color: #656d4aff;
}

textarea{
    /* Align multiline text fields with their labels*/
    vertical-align: top;

    /*provide space to ttype some text*/
    height: 10em;
}
.button {
    /*Align buttons with the text fields*/
    padding-left: 400px; /* same size as the label elements*/
}
button{
    /* This extra margin represent roughly the same
    space as the space between the labels and their
    text fields */
    margin-left: .5em;
    color: #efdfbbff;
    background-color: #656d4aff;
    font-size: 20px;
    padding: 10px;

}

#feedback{
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /*make this element invisible until we are ready for it*/
    display: none;
}
.moveDown {
    margin-top: 3em;
}


/* #4 container grid with the footer including social media and links*/
footer{
    background-color:#414833ff ;
    padding: 25px 10px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    color: #efdfbbff;
    
}

footer .social img{
    padding-top: 15px;
    width: 50px;
}

footer h4{
    color: #efdfbbff;
    text-decoration: none;
    font-family: "Yuji Syuku", Lato, Helvetica, sans-serif;
    
}

footer a{
    color: #efdfbbff;
    text-decoration: underline;
    font-family: "Yuji Syuku", Lato, Helvetica, sans-serif;   
}
footer a:hover{
    color: #a4ac86ff ;
    
}


